# Dependências
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build
dist

# Arquivos de desenvolvimento
.git
.gitignore
README.md
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log

# Arquivos temporários
.DS_Store
.vscode
.idea
*.swp
*.swo

# Coverage reports
coverage

# Arquivos de teste
src/**/*.test.js
src/**/*.test.ts
src/**/*.test.tsx
src/**/*.spec.js
src/**/*.spec.ts
src/**/*.spec.tsx

# Docker
Dockerfile*
docker-compose*
.dockerignore
